[["Sr. No." "Language[b]" "Family" "Speakers\n(in millions, 2011)[15]"
  "Official recognition in State(s)" "ISO 639 code"]
 [1 "Assamese" "Indo-Aryan, Eastern" 15.3 "Official: Assam" "as"]
 [2 "Bengali" "Indo-Aryan, Eastern" 97.2
  "Official: West Bengal, Tripura Additional: Assam, Jharkhand[16]" "bn"]
 [3 "Bodo" "Tibeto-Burman" 1.48 "Official: Assam" "brx"]
 [4 "Dogri" "Indo-Aryan, Northwestern" 2.6 "Official: Jammu and Kashmir[17]" "doi"]
 [5 "Gujarati" "Indo-Aryan, Western" 55.5
  "Official: Gujarat Additional: Dadra and Nagar Haveli and Daman and Diu[18]" "gu"]
 [6 "Hindi" "Indo-Aryan, Central" 528
  "Official: Andaman and Nicobar Islands, Bihar, Dadra and Nagar Haveli and Daman and Diu, Chhattisgarh, Delhi, Gujarat,[19] Haryana, Himachal Pradesh, Jammu and Kashmir, Jharkhand, Ladakh, Madhya Pradesh, Rajasthan, Uttar Pradesh, Uttarakhand Additional: West Bengal[20][21]"
  "hi"] [7 "Kannada" "Dravidian" 43.7 "Official: Karnataka" "kn"]
 [8 "Kashmiri" "Indo-Aryan, Dardic" 6.8 "Official: Jammu and Kashmir[17]" "ks"]
 [9 "Konkani" "Indo-Aryan, Southern" 2.25 "Official: Goa[22][23]" "gom"]
 [10 "Maithili" "Indo-Aryan, Eastern" 13.6 "Additional: Jharkhand[24]" "mai"]
 [11 "Malayalam" "Dravidian" 34.8 "Official: Kerala Additional: Puducherry" "ml"]
 [12 "Manipuri" "Tibeto-Burman" 1.8 "Official: Manipur" "mni"]
 [13 "Marathi" "Indo-Aryan, Southern" 83 "Official: Maharashtra Additional: Goa" "mr"]
 [14 "Nepali" "Indo-Aryan, Northern" 2.9 "Official: Sikkim Additional: West Bengal" "ne"]
 [15 "Odia" "Indo-Aryan, Eastern" 37.5
  "Official: Odisha Additional: Jharkhand, West Bengal[25][26][27][20][21]" "or"]
 [16 "Punjabi" "Indo-Aryan, Northwestern" 33.1
  "Official: Punjab Additional: Delhi, Haryana, West Bengal[20][21]" "pa"]
 [17 "Sanskrit" "Indo-Aryan" 0.02 "Additional: Himachal Pradesh, Uttarakhand" "sa"]
 [18 "Santali" "Austroasiatic" 7.6 "Additional: Jharkhand, West Bengal[28]" "sat"]
 [19 "Sindhi" "Indo-Aryan, Northwestern" 2.7 "" "sd"]
 [20 "Tamil" "Dravidian" 69 "Official: Tamil Nadu, Puducherry" "ta"]
 [21 "Telugu" "Dravidian" 81.1
  "Official: Andhra Pradesh, Telangana Additional: Puducherry, West Bengal" "te"]
 [22 "Urdu" "Indo-Aryan, Central" 50.7
  "Official: Jammu and Kashmir Additional: Andhra Pradesh,[29] Bihar, Delhi, Jharkhand, Telangana, Uttar Pradesh, West Bengal[20][21]"
  "ur"]]

